//图片新闻

/*滚动条样式*/

.Wrap-MainNew-List::-webkit-scrollbar,
.write > textarea::-webkit-scrollbar {
    width: 5px;
}

.Wrap-MainNew-List::-webkit-scrollbar-button,
.write > textarea::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}

.Wrap-MainNew-List::-webkit-scrollbar-track,
.write > textarea::-webkit-scrollbar-track {
    background: #bdbdbd;
    border: thin solid lightgray;
    box-shadow: 0 0 3px #dfdfdf inset;
    border-radius: 10px;
}


.Wrap-MainNew-List::-webkit-scrollbar-thumb,
.write > textarea::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
    height: 10px;
}

.Wrap-MainNew-List::-webkit-scrollbar-thumb:hover,
.write > textarea::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

.Wrap-MainNew-List {
    height: 565px;
    min-width: 600px;
    max-width: 720px;
    overflow-y: auto;
    overflow-x: hidden;
    .center-new-pic {
        min-width: 600px;
        max-width: 720px;
        height: 70px;
        zoom: 1;
        margin-top: 40px;
        display: block;
        /*==for IE6/7 Maxthon2==*/
        .left {
            float: left;
            min-width: 100px;
            max-width: 130px;
            height: 70px;
            img{
              width: 100%;
              height: 100%;
            }
        }
        .right {
            padding-left: 20px;
            float: left;
            min-width: 400px;
            max-width: 565px;
            height: 70px;
        }
        .pic-title {
            cursor: pointer;
            font-size: 1rem;
            color: #fff;
            min-width: 400px;
            max-width: 475px;
            height: 22px;
            overflow: hidden;
            
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .pic-other {
            margin-top: 15px;
            span {
                font-size: 0.875rem;
                color: #00f0ff
            }
            b {
                color: #737a8d;
                font-size: 0.875rem;
                margin-left: 20px;
            }
        }
    }
    /*==for FF/chrome/opera/IE8==*/
    //有声新闻
    .center-new-voice {
        min-width: 600px;
        max-width: 720px;
        height: 48px;
        margin-top: 40px;
        display: block;
        .voice-title {
            cursor: pointer;
            min-width: 600px;
            max-width: 720px;
            height: 22px;
            font-size: 1rem;
            color: #fff;
            overflow: hidden;
            
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }
        .voice-other {
            margin-top: 4px;
            .voice-btn {
                display: inline-block;
                width: 50px;
                height: 18px;
                border: 1px solid #3f4868;
                font-size: 0;
                cursor: pointer;
                span {
                    margin-left: 2px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid #fff;
                    border-top: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid transparent
                }
                i {
                    font-style: normal;
                    color: #fff;
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                }
            }
            span {
                font-size: 0.875rem;
                color: #00f0ff;
                margin-left: 20px;
            }
            b {
                color: #737a8d;
                font-size: 0.875rem;
                margin-left: 20px;
            }
        }
    }
    //纯文字新闻
    .center-nwe-word {
        min-width: 600px;
        max-width: 720px;
        height: 45px;
        margin-top: 40px;
        display: block;
        .word-title {
            cursor: pointer;
            margin-top: 13px;
            font-size: 1rem;
            color: #fff;
            width: 565px;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            overflow: hidden;
        }
        .word-other {
            margin-top: 5px;
            span {
                font-size: 0.875rem;
                color: #00f0ff;
                margin-left: 20px;
            }
            b {
                color: #737a8d;
                font-size: 0.875rem;
                margin-left: 20px;
            }
        }
    }
}



//搜索新闻列表

.search-nwe-word {
    min-width: 600px;
    max-width: 720px;
    height: 45px;
    margin-top: 40px;
    .word-title {
        cursor: pointer;
        margin-top: 13px;
        font-size: 1rem;
        color: #fff;
        width: 565px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }
    .word-other {
        margin-top: 5px;
        span {
            font-size: 0.875rem;
            color: #00f0ff;
            margin-left: 20px;
        }
        b {
            color: #737a8d;
            font-size: 0.875rem;
            margin-left: 20px;
        }
    }
}

.search-nwe-word{
  min-width:600px;max-width:720px;height:45px;margin-top:40px;
  .word-title{cursor:pointer;margin-top:13px;font-size:1rem;color:#fff;min-width:470px;max-width:565px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
  .word-other{margin-top:5px;
    span{font-size:0.875rem;color:#00f0ff;margin-left:20px;}
    b{color:#737a8d;font-size:0.875rem;margin-left:20px;}
  }
}



