// leftList
.m-leftList {
    float: left;
    width: 210px;
    height: 900px;
    padding-top: 95px;
    background: #06153a;
    .u-img {
        position: absolute;
        display: block;
        width:18px;
        height:18px;
        top: 16px;
        left: 50px;
        background:url(../img/icon-left-list/new.png) no-repeat;
    }
    .u-list {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 1rem;
        color: #8891b0;
        padding-left: 88px;
    }
    .u-list-act {
        border-left: 3px solid #088fff;
        padding-left: 85px;
        color: #088fff;
        background-image: linear-gradient(90deg, #182752 0%, #0b193b 100%)
    }
    .u-list-act+.u-img57e4e49af5a4652492d58f27{
        background:url(../img/icon-left-list/new_hover.png) no-repeat;
    }
}

// banner
.u-banner {
    //float:left;
    width: 100%;
    min-width: 600px;
    max-width: 720px;
    .swiper-wrapper{height:220px;}
    // 重置分页器样式
    .swiper-container-horizontal > .swiper-pagination-bullets {
        text-align: right
    }
    .swiper-pagination-bullet {
        height: 2px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 0px;
    }
    .swiper-slide {
        position: relative;
        height:220px;
        img{width:100%;height:100%;}
        .banner-title {
            position: absolute;
            bottom: 0px;
            min-width: 600px;
            width: 100%;
            height: 50px;
            background-color: #000000;
            /* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
            background-color: rgba(0, 0, 0, 0.2);
            /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
            font-size: 1.625rem;
            font-family: "黑体", "Arial", "Microsoft YaHei", "宋体", sans-serif;
            color: #fff;
            line-height: 3.125rem;
            span {
                display: inline-block;
                width: 500px;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
                text-indent: 10px;
            }
        }
    }
}

//search
.m-search {
    position: relative;
    width: 507px;
    height: 42px;
    margin-bottom: 58px;
    .m-search-left {
        float: left;
        width: 67px;
        height: 24px;
        margin-top: 8px;
        .left {
            float: left;
            width: 13px;
            height: 23px;
            background: url(../img/icon-search/switchL.png) no-repeat;
            &.act{
               background: url(../img/icon-search/switchLAct.png) no-repeat; 
            }
        }

        .right {
            float: right;
            width: 13px;
            height: 23px;
            background: url(../img/icon-search/switchR.png) no-repeat;
            &.act{
               background: url(../img/icon-search/switchRAct.png) no-repeat; 
            }
        }
    }
    .m-search-right {
        float: right;
        width: 401px;
        height: 40px;
        background: #33384a;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        .left {
            width: 58px;
            height: 23px;
            float: left;
            margin-top: 8px;
            background: url(../img/icon-search/search.png) no-repeat center;
            cursor:pointer;
        }
        .right {
            width: 325px;
            height: 30px;
            float: left;
            margin-top: 5px;
            input {
                width: 325px;
                height: 30px;
                font-size: .875rem;
                line-height: 30px;
                color: #575b69;
                margin-top: 0;
                background: transparent;
                outline: none;
                border: 0
            }
        }
        .m-search-right:after {
            content: ".";
            height: 0;
            visibility: hidden;
            display: block;
            clear: both;
        }
    }
    .m-search:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
    .clear {
        clear: both
    }
    .search-slide-down {
        z-index: 10;
        width: 400px;
        height: 242px;
        background: #33384a;
        position: absolute;
        top: 40px;
        left: 107px;
        display: none;
        -moz-box-shadow: 10px 10px 20px rgba(51, 56, 74, 0.2);
        -webkit-box-shadow: 10px 10px 20px rgba(51, 56, 74, 0.2);
        box-shadow: 10px 10px 20px rgba(51, 56, 74, 0.2);
        ul {
            margin-top: 5px;
            li {
                margin-top: 25px;
                cursor: pointer;
                padding-left: 34px;
                margin-left: 24px;
                width: 356px;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 18px;
                line-height: 18px;
                color: #fff;
                $list: one, two, three, four, five;
                @each $i in $list {
                    &.#{$i} {
                        background: url('../img/icon-search/#{$i}.png') no-repeat;
                    }
                }
                a {
                    font-size: .875rem;
                }
            }
        }
    }
}

// reportModal
.reportModal {
    width: 440px;
    height: 504px;
    background-color: white;
    z-index: 1000;
    .reportTitle {
        height: 96px;
        line-height: 96px;
        background: url(../img/modal/report-head.png) no-repeat;
        color: white;
        font-size: 1.125rem;
        text-align: center;
    }
    li {
        padding-left: 3px;
        width: 340px;
        margin-top: 16px;
        position: relative
    }
    input {
        display: none
    }
    .blueCheckbox {
        display: block;
        width: 15px;
        height: 16px;
        background-color: #0088ff;
        border-radius: 0;
        position: absolute;
        right: 10px;
        top: 3px;
    }
    .blueCheckbox-act {
        background-image: url(../img/modal/gou.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .textare-other {
        ;
        width: 340px;
        height: 70px;
        display: block;
        resize: none;
        margin-top: 20px
    }
    .btn-submit {
        margin-top: 30px;
        display: block;
        background-color: #2293f3;
        text-align: center;
        width: 340px;
        height: 40px;
        line-height: 40px;
        color: white;
        font-size: 1.125rem
    }
}

;
